// Colors
$magenta-dark: hsl(300, 43%, 22%);
$magenta-gray-dark: hsl(303, 10%, 53%);
$magenta-gray-light: hsl(300, 24%, 96%);
$soft-pink: hsl(333, 80%, 67%);
$white: hsl(0, 0%, 100%);


// Initializing and removing default styles
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7;
  padding: 10rem 3rem;
  max-width: 120rem;
  margin: 0 auto;
  background: url("/images/bg-pattern-top-mobile.svg") no-repeat, url("/images/bg-pattern-bottom-mobile.svg") no-repeat bottom;

  @media only screen and (min-width: 56.25em) {
    background: url("/images/bg-pattern-top-desktop.svg") no-repeat, url("/images/bg-pattern-bottom-desktop.svg") no-repeat bottom;
  }
}

.header {
  
  &__text {
    
    .heading {
      font-size: 3.5rem;
      text-align: center;
      color: $magenta-dark;
      font-weight: 700;
      line-height: 1;
      max-width: 70%;
      margin: 0 auto;
    }
    
    .sub-heading {
      color: $magenta-gray-dark;
      font-size: 1.45rem;
      font-weight: 500;
      text-align: center;
      margin-top: 2.2rem;
    }
  }

  &__rating {
    margin-top: 4rem;

    .rating-box {
      background-color: $magenta-gray-light;
      text-align: center;
      padding: 1.5rem 3rem;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80vw;
      margin: 0 auto;
      
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &__text {
        margin-left: 2.5rem;
        color: $magenta-dark;
        font-weight: 700;
      }
    }
  }

  @media only screen and (min-width: 56.25em) {
    display: flex;
    align-items: center;

    &__text {
      flex: 1;

      .heading{
        text-align: left;
        font-size: 4rem;
        margin: 0;
      }

      .sub-heading {
        text-align: left;
        font-size: 1.6rem;
      }
    }

    &__rating {
      flex: 1;

      .rating-box {
        width: 80%;

        &:nth-child(1) {
          margin-left: 2rem;
        }

        &:nth-child(2) {
          margin-left: 4rem;
        }

        &:nth-child(3) {
          margin-left: 6rem;
        }
      }
    }
  }
}

.testimonials {
  margin-top: 6rem;

  .card {
    background-color: $magenta-dark;
    color: $white;
    border-radius: 10px;
    padding: 4.5rem 3rem;
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
    margin-bottom: 2rem;

    &__header {
      display: flex;
      column-gap: 3rem;   

      img {
        border-radius: 50%;
        width: 5rem;
      }

      div {

         .verification {
           color: $soft-pink;
         }

      }
    }

    &__text {
      font-size: 1.3rem;
      margin-top: 3rem;
    }
  }

  @media only screen and (min-width: 56.25em) {
    display: flex;
    align-items: center;
    column-gap: 2rem;

    .card {
      margin-bottom: 0;

      &:nth-child(1) {
        margin-top: 3rem;
      }

      &:nth-child(2) {
        margin-top: 9rem;
      }

      &:nth-child(3) {
        margin-top: 15rem;
      }
    }
  }
}

.attribution {
  margin-top: 7rem;
  text-align: center;
}
